flask==2.0.3
opencv-python==4.5.4
certifi==2021.10.08
chardet==4.0.0
click==8.0.4
cmake==3.22.4
decorator==4.4.2
dlib==19.22.99
face_recognition==1.2.3
face_recognition_models==0.1.0
idna==3.3
imageio==2.19.1
imageio_ffmpeg==0.4.7
moviepy==1.0.3
numpy==1.21.4
proglog==0.1.10
requests==2.26.0
tqdm==4.62.3
urllib3==1.26.7
flask_sqlalchemy==2.5.1
pyautogui==0.9.53
cvzone==1.5.6
mediapipe==0.8.10
matplotlib==3.5.0